body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #444;
    padding: 5px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 105;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    font-family: 'Poppins', sans-serif;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}

.logo img {
    max-width: 110px;
    height: auto;
}

.metn-hissesi {
    border: 0px solid #ccc;
    padding: 0px;
    width: 740px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.icon {
    color: #fff;
}

.menu-text {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
}

.menu-text:hover {
    font-size: 115%;
}

.social-media-icons {
    font-size:  115%;
    color: #fff;
    margin: 5px;

}


@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

.yuxari-text {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
}